/* Stylesheetsu*/


/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Montserrat', sans-serif; */


* {
    margin: 0;
    padding: 0;
    padding-top: 0;
    min-width: 20%;
}

body{
    background-image: url(../img/Everyday2halfsize.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* General Typography
--------------------------------------------- */ 

p {
    color: whitesmoke;
    font-family: montserrat;
    font-weight: 300;
    text-align: left;
    font-size: 1.2em;
    margin-left: 13%;
    margin-right: 3%;
    text-size-adjust: none;
}
h1 {
    font-family: Oswald;
    font-weight: 500;
    color: White;
    text-size-adjust: auto;
    margin: auto;}


/* Large screen layout
--------------------------------------------- */  
@media screen and (min-width: 30em) {

  
  /* parallax */
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {

    html, body {
      overflow: hidden;
      height: 100%;
        background: black;
    }

    
